<%-include("./partials/header.ejs") %>


<div class="container">

<h1 class="header">
Status Code: 404 ! 
</h1>
<p><strong>This page does not exist on our YelpCamp website.</strong></p>	
	<a href="/">Go To HomePage!</a>
	
	
</div>

<%-include("./partials/footer.ejs") %>